@model IEnumerable<Category>
    
<h1> Index category</h1>

<div class=" container p-3">
    
    <div class="row pt-4">
        <div class="col-6">
            <h2> category list </h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Category"  asp-action="Create" class="btn btn-primary">Create</a>

    </div>
</div>

<table class="table table-bordered table-striped">
        
        <thead>
        
        <th>Category name</th>
        <th>Display Order</th>
        <th></th>
        </thead>
        
        <body>
        
        @foreach ( var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td>
                    <div>
                        <a class="btn btn-primary"  asp-controller="Category" asp-action="Edit" asp-route-id=@item.Id>
                            <i class="bi bi-pen"></i>
                        </a>
                        <a class="btn btn-primary"  asp-controller="Category" asp-action="Delete" asp-route-id=@item.Id>
                            <i class="bi bi-trash"></i>
                        </a>


                    </div>


                </td>
            </tr>
        }
        </body>
</table> 

    </div>
<!-- Compare this snippet from BookShop/Views/Category/Index.cshtml: -->
